header {
  width: 100%;
  padding: 10px 100px 0 100px;
  position: absolute;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-left: 50px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .switcher {
  width: 65px;
  height: 60px;
  background: aqua;
}

nav ul {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  font-size: 16px;
  font-family: "M-S", sans-serif;
  color: #fff;
}
