.container{
  width: 100vw;
  max-width: 100%;
  height: 100%;
  position: relative;
}

.wrapper{
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  height: 100%;
  background: #131313;
  position: relative;
}

.background{
  width: 100%;
  height: 775px;
  position: relative;
  overflow: hidden;
}

.background .bg1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  left: 150px;
}

.background .bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100px;
  left: 250px;
}

.hero-img{
  width: 100%;
  height: 90%;
  top: 50px;
  position: absolute;
}

.hero-img img{
  width: 80%;
  user-select: none;
}
