<main>
  <div class="container">
    <div class="wrapper">
      <app-header></app-header>
      <div class="background">
        <img class="bg1" draggable="false" alt="problems" [src]="backgroundImg1">
        <img class="bg2" draggable="false" alt="problems2" [src]="backgroundImg2">
      </div>
      <img class="hero-img" draggable="false" alt="hero" [src]="hero">
      <img class="hero-text" alt="hero" [src]="heroText" >
      <div class="consultation">
          <h4>Consultation</h4>
         <img alt="hero" [src]="arrow" >
      </div>
    </div>
  </div>
</main>
